<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      Elixir Websocket
    </title>
  </head>
  <body>
    <main id="main"></main>
    <br>
    <form>
      <div style="display: inline-block">
        <label for="subject">Subject</label>
        <input id="subject" name="subject" style="display: block" type="text">
      </div>
      <div style="display: inline-block">
        <label for="predicate">Predicate</label>
        <input id="predicate" name="predicate" style="display: block" type="text">
      </div>
      <div style="display: inline-block">
        <label for="object">Object</label>
        <input id="object" name="object" style="display: block" type="text">
      </div>
      <input type="submit" style="display: block" value="send" id="button">
    </form>
    <script>
      {
        let socket = new WebSocket('ws://localhost:4000/ws/chat')
        const queue = []

        const drain = () => {
          while (queue.length > 0) {
            socket.send(queue.shift())
          }
        }

        const connect = () => {
          socket = new WebSocket('ws://localhost:4000/ws/chat')
          socket.onopen = drain
          setupSocket()
        }

        setInterval(() => {
          queue.push('__ping__')
          if (socket.readyState !== socket.OPEN) {
            connect()
          } else {
            drain()
          }
        }, 15000)

        const setupSocket = () => {
          socket.addEventListener('message', (event) => {
            if (event.data === '__pong__') {
              console.log(event.data)
            } else {
              const pTag = document.createElement('p')
              pTag.innerHTML = event.data

              document.getElementById('main').append(pTag)
            }
          })

          socket.addEventListener('close', setupSocket)
        }

        const submit = (event) => {
          event.preventDefault()
          queue.push(JSON.stringify([
            document.getElementById('subject').value,
            document.getElementById('predicate').value,
            document.getElementById('object').value,
          ]))
          if (socket.readyState !== socket.OPEN) {
            connect()
          } else {
            drain()
          }
        }

        document.getElementById('button').addEventListener('click', (event) => submit(event))
        setupSocket()
      }
    </script>
  </body>
</html>
