<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="application/javascript" defer="defer" src="js/application.js"></script>
    <title>
      Elixir Websocket
    </title>
  </head>
  <body>
    <main id="main"></main>
    <br>
    <form>
      <label for="subject">Subject</label>
      <input id="subject" name="subject" style="display: block" type="text">
      <label for="predicate">Predicate</label>
      <input id="predicate" name="predicate" style="display: block" type="text">
      <label for="object">Object</label>
      <input id="object" name="object" style="display: block" type="text">
      <input type="submit" style="display: block" value="send" id="button">
    </form>
  </body>
</html>
