<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="application/javascript" defer="defer" src="js/application.js"></script>
    <title>
      Elixir Websocket
    </title>
  </head>
  <body>
    <main id="main"></main>
    <br>
    <form>
      <label for="subject">Subject</label>
      <input id="subject" type="text" value="Bob" />
      <br>
      <label for="predicate">Predicate</label>
      <input id="predicate" type="text" value="is" />
      <br>
      <label for="object">Object</label>
      <input id="object" type="text" value="user" />
      <br>
      <br>
      <input type="submit" value="send" id="button">
    </form>
  </body>
</html>
